name: 'IndexNow'
on:
  workflow_dispatch:
  schedule:
    # Set the schedule time
    - cron: '0 2 * * *'

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
      - name: indexnow-action
        uses: bojieyang/indexnow-action@main
        with:
          sitemap-location: 'https://blog.liaoke.xyz/sitemap.xml'
          key: ${{ secrets.INDEXNOW_KEY }}
          endpoint: 'api.indexnow.org'
          lastmod-required: false
          since-unit: 'minute'
          failure-strategy: 'error'
